<%- include('layouts/header')%>

<title>About Us - United Workers' Union of Liberia</title>
<body>
 <!-- Page Preloder -->
<div id="preloder">
 <div class="loader"></div>
</div>

<%- include('layouts/navbar')%>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
 <div class="container">
     <div class="row">
         <div class="col-lg-12 text-center">
             <div class="breadcrumb__text">
                 <h2>About Us</h2>
                 <div class="breadcrumb__links">
                     <a href="./index.html">Home</a>
                     <span>About</span>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about spad">
 <div class="container">
     <div class="row">
         <div class="col-lg-6 col-md-6">
             <div class="about__video set-bg" data-setbg="/img/bg1.jpeg">
                 <a href="https://www.youtube.com/watch?v=402m57yFjTM" class="play-btn video-popup"><i class="fa fa-play"></i></a>
             </div>
         </div>
         <div class="col-lg-6 col-md-6">
             <div class="about__text">
                 <div class="section-title">
                     <span>ABOUT UWUL</span>
                     <h2>Welcom to the United Workers' Union of Liberia</h2>
                 </div>
                 <p>The United Workers' Union of Liberia (UWUL) is a trade union organization in Liberia that represents the interests of workers across various industries. Established to advocate for the rights and welfare of Liberian workers, the UWUL focuses on securing better wages, improved working conditions, and ensuring that workers' voices are heard in both the workplace and in broader policy discussions.</p>
                 <ul>
                     <li><i class="fa fa-check-circle"></i> Unite for Workers' Rights</li>
                     <li><i class="fa fa-check-circle"></i> Strength in Solidarity </li>
                     <li><i class="fa fa-check-circle"></i> Empowering Our Workforce</li>
                 </ul>
                 <a href="#" class="primary-btn normal-btn">Contact us</a>
             </div>
         </div>
     </div>
 </div>
</section>
<!-- About Section End -->
<!-- Chooseus Section Begin -->
<section class="chooseus spad ">
 <div class="container ">
     <div class="row ">
         <div class="col-lg-12 text-center ">
             <div class="section-title ">
                 <span>Why choose us?</span>
                 <h2>Offer for you</h2>
             </div>
         </div>
     </div>
     <div class="row ">
         <div class="col-lg-3 col-md-6 col-sm-6 ">
             <div class="chooseus__item ">
                 <img src="img/icons/ci-1.png " alt=" ">
                 <h5>Technical Skills</h5>
                 <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 ">
             <div class="chooseus__item ">
                 <img src="img/icons/ci-2.png " alt=" ">
                 <h5>Qualified Employee</h5>
                 <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 ">
             <div class="chooseus__item ">
                 <img src="img/icons/ci-3.png " alt=" ">
                 <h5>Certified services</h5>
                 <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 ">
             <div class="chooseus__item ">
                 <img src="img/icons/ci-4.png " alt=" ">
                 <h5>Emergency care</h5>
                 <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
             </div>
         </div>
     </div>
 </div>
</section> 

 <!-- Testimonials Section Begin -->
 <section class="testimonials spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="section-title">
                  <span>Testimonials</span>
                  <h2>Happy Workforce</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="testimonial__slider owl-carousel">
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__icon">
                              <i class="fa fa-quote-left"></i>
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Robert White</h5>
                              <span>Worker</span>
                          </div>
                      </div>
                      <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                      vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__icon">
                              <i class="fa fa-quote-left"></i>
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Lewis Brown</h5>
                              <span>Worker</span>
                          </div>
                      </div>
                      <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                      vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__icon">
                              <i class="fa fa-quote-left"></i>
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Harrison Curtis</h5>
                              <span>Worker</span>
                          </div>
                      </div>
                      <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                      vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__icon">
                              <i class="fa fa-quote-left"></i>
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Ben Kamara</h5>
                              <span>Worker</span>
                          </div>
                      </div>
                      <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                      vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__icon">
                              <i class="fa fa-quote-left"></i>
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Lawrence Koffa</h5>
                              <span>Worker</span>
                          </div>
                      </div>
                      <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                      vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__icon">
                              <i class="fa fa-quote-left"></i>
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Daniel Fyiah</h5>
                              <span>Worker</span>
                          </div>
                      </div>
                      <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
                      vel facilisis ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Testimonials Section End -->

   <!-- Team Section Begin -->
   <section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Our Team</span>
                    <h2>Our Expert Employee</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/img/SecretaryGeneral.jpg" alt="">
                    <h5>Dave J. Seneh</h5>
                    <span>General Secretary</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/DeputySecretaryAdm.jpg" alt="">
                    <h5>Daniel K. Weah, Sr</h5>
                    <span>Deputy Secretary for Administration</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-3.jpg" alt="">
                    <h5>Vacus Wilmont Kun</h5>
                    <span>Deputy Secretary for Adm./ Trainer</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<%- include('layouts/footer')%>