<%- include('layouts/header')%>

<title>Home - United Workers' Union of Liberia</title>
<body>
<!-- Page Preloder -->
<div id="preloder">
 <div class="loader"></div>
</div>
<!-- Carousel -->

<%- include('layouts/navbar')%>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
 <div class="container">
     <div class="row">
         <div class="col-lg-12 text-center">
             <div class="breadcrumb__text">
              <div id="demo" class="carousel slide" data-bs-ride="carousel">

               <!-- Indicators/dots -->
              
               
               <!-- The slideshow/carousel -->
               <div class="carousel-inner">
                <div class="carousel-item active">
                  <h1 style="color: #fff;">Unite for Workers' Rights</h1>
                </div>
                <div class="carousel-item">
                  <h1 style="color: #fff;">Strength in Solidarity</h1>
                </div>
                <div class="carousel-item">
                  <h1 style="color: #fff;">Empowering Our Workforce</h1>
                </div>
              </div>
              
               
               <!-- Left and right controls/icons -->
               <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                 <span class="carousel-control-prev-icon"></span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                 <span class="carousel-control-next-icon"></span>
               </button>
              </div>
             </div>
         </div>
     </div>
 </div>
</section>
<!-- Breadcrumb Section End -->


    <!-- Consultation Section Begin -->
    <section class="consultation">
     <div class="container">
         <div class="row">
             <div class="col-lg-4">
                 <div class="consultation__form">
                     <div class="section-title">
                         <span>SIGN UP FOR OUR LATEST NEWS</span>
                         <h2>NewsLetters</h2>
                     </div>
                     <form action="#">
                      <input type="text" placeholder="Full Name">
                      <input type="email" placeholder="Email Address">
                      <select>
                        <option value="" selected disabled>Select Your Role</option>
                        <option value="member">Union Member</option>
                        <option value="representative">Union Representative</option>
                        <option value="supporter">Supporter</option>
                      </select>
                      <button type="submit" class="site-btn">Subscribe to Newsletter</button>
                    </form>
                    
                 </div>
             </div>
             <div class="col-lg-8">
                 <div class="consultation__text">
                     <div class="row">
                         <div class="col-lg-6 col-md-6">
                             <div class="consultation__text__item">
                                 <div class="section-title">
                                     <span>Message from the General Secretary</span>
                                     <h2>Welcome To <b>UWUL</b></h2>
                                 </div>
                                 <p>
                                  Welcome to the United Workers' Union of Liberia (UWUL). We are dedicated to creating an empowering environment for our members and supporters. Our union advocates for workers' rights and provides resources, training, and opportunities for growth. Together, we work towards fairness, equality, and dignity for all.
                                 </p>
                             </div>
                         </div>
                         <div class="col-lg-6 col-md-6">
                             <img src="/img/president.png" alt="">
                           
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Consultation Section End -->

 <!-- Events and news Section Begin -->
 <section class="events-and-news">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6">
              <div class="section-title">

                  <h2>Latest Feeds</h2>

                  <div class="latest-feeds" >
                   <div class="card" style="width: 18rem;">
                    <img src="/img/meeting.png" class="card-img-top" alt="latest-img">
                    <div class="card-body">
                     <h5 class="card-title">Metting with ArcelorMittal</h5>
                      <p class="card-text"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></p>
                    </div>
                  </div>
                  
                  </div>
      </div>
  </div>
</section>
<!-- Events and news Section End -->

 <!-- Testimonials Section Begin -->
 <section class=" testimonials spad ">
  <div class="container ">
      <div class="row ">
          <div class="col-lg-12 text-center ">
              <div class="section-title ">
               <h2>What we Offer</h2>
               <span>Lot of good things for our Unionized Workforce</span>
              </div>
          </div>
      </div>
      <div class="row ">
          <div class="testimonial__slider owl-carousel ">
              <div class="col-lg-6 ">
                  <div class="testimonial__item ">
                      <div class="testimonial__author ">
                          <div class="testimonial__author__icon ">
                              <i class="fa fa-shield"></i>
                          </div>
                          <div class="testimonial__author__text ">
                              <h5>Building Trust and Credibility</h5>
                              <span>Trusted Union</span>
                          </div>
                      </div>
                      <div class="rating ">
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente ea dolorum eveniet ipsa nemo, facere id libero placeat perferendis eaque eius ipsum dolore odio, possimus sequi consequuntur minima assumenda quaerat!</p>
                     
                  </div>
              </div>
              <div class="col-lg-6 ">
                  <div class="testimonial__item ">
                      <div class="testimonial__author ">
                          <div class="testimonial__author__icon ">
                           <i class="fa fa-trophy"></i>
                          </div>
                          <div class="testimonial__author__text ">
                              <h5>Showcasing Success Stories</h5>
                              <span>Trusted Union</span>
                          </div>
                      </div>
                      <div class="rating ">
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quasi, unde consectetur magni ratione ut illum nihil consequatur eligendi sunt maxime molestias quod tempora iste debitis adipisci numquam quas voluptas!</p>
                     
                  </div>
              </div>
              <div class="col-lg-6 ">
                  <div class="testimonial__item ">
                      <div class="testimonial__author ">
                          <div class="testimonial__author__icon ">
                           <i class="fa fa-user-plus"></i>
                          </div>
                          <div class="testimonial__author__text ">
                              <h5>Encouraging Membership</h5>
                              <span>Trusted Union</span>
                          </div>
                      </div>
                      <div class="rating ">
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                      </div>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat iste molestiae, saepe repellendus, obcaecati voluptatem accusamus quia minus tenetur laborum quibusdam labore a velit animi magnam at, nesciunt maxime esse?</p>
                     
                  </div>
              </div>
              <div class="col-lg-6 ">
                  <div class="testimonial__item ">
                      <div class="testimonial__author ">
                          <div class="testimonial__author__icon ">
                           <i class="fa fa-users"></i>
                          </div>
                          <div class="testimonial__author__text ">
                              <h5>Strengthening Solidarity</h5>
                              <span>Trusted Union</span>
                          </div>
                      </div>
                      <div class="rating ">
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum neque minima consequatur magnam eos laborum voluptatum quam eum mollitia? Earum temporibus molestiae autem ipsam facilis dolorem nostrum reiciendis accusantium consequuntur!</p>
                      
                  </div>
              </div>
              <div class="col-lg-6 ">
                  <div class="testimonial__item ">
                      <div class="testimonial__author ">
                          <div class="testimonial__author__icon ">
                           <i class="fa fa-bullhorn"></i>
                          </div>
                          <div class="testimonial__author__text ">
                              <h5>Demonstrating Advocacy</h5>
                              <span>Trusted Union</span>
                          </div>
                      </div>
                      <div class="rating ">
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, labore provident placeat molestiae ut rem quod. Aliquam, repellat non architecto neque consequatur, debitis tempora voluptatum ipsum odit obcaecati soluta facilis!</p>
                      
                  </div>
              </div>
              <div class="col-lg-6 ">
                  <div class="testimonial__item ">
                      <div class="testimonial__author ">
                          <div class="testimonial__author__icon ">
                           <i class="fa fa-eye"></i>
                          </div>
                          <div class="testimonial__author__text ">
                              <h5>Promoting Transparency</h5>
                              <span>Trusted Union</span>
                          </div>
                      </div>
                      <div class="rating ">
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                          <i class="fa fa-star "></i>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde adipisci quo, incidunt nostrum aliquid quibusdam dolorem, aperiam rem officiis necessitatibus cum aut ea sit optio modi veritatis enim commodi voluptatem!</p>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Testimonials Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus spad ">
  <div class="container ">
      <div class="row ">
          <div class="col-lg-12 text-center ">
              <div class="section-title ">
                  <span>Why choose us?</span>
                  <h2>Offer for you</h2>
              </div>
          </div>
      </div>
      <div class="row ">
          <div class="col-lg-3 col-md-6 col-sm-6 ">
              <div class="chooseus__item ">
                  <img src="img/icons/ci-1.png " alt=" ">
                  <h5>Technical Skills</h5>
                  <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 ">
              <div class="chooseus__item ">
                  <img src="img/icons/ci-2.png " alt=" ">
                  <h5>Qualified Employee</h5>
                  <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 ">
              <div class="chooseus__item ">
                  <img src="img/icons/ci-3.png " alt=" ">
                  <h5>Certified services</h5>
                  <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 ">
              <div class="chooseus__item ">
                  <img src="img/icons/ci-4.png " alt=" ">
                  <h5>Emergency care</h5>
                  <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
              </div>
          </div>
      </div>
  </div>
</section> 

<%- include('layouts/footer')%>